




@font-face {
    font-family: 'neuropol';
    src: url("neuropol\ x\ rg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'arvo';
    src: url("Arvo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }


/*HOME HTML*/


.navbar-brand {
    font-family: 'neuropol';
}

.navbar-brand h1 {
    font-size: 24px;
    color: rgb(203, 0, 112);
    font-weight: bold;
}

.navbar-brand h1:hover {
    text-shadow: 2px 2px 4px #8DBFD9;
}

.nav-link {
    color: #8DBFD9;
    font-weight: bold;
    font-family: 'arvo';
}

.nav-link:hover {
    color: rgb(203, 0, 112);

}


.logout {

    border: 1.5px outset rgb(203, 0, 112);
    border-radius: 10px;
    background-color: rgba(203, 0, 112, 0.503);
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
}


.logout:hover{
    background-color: rgb(203, 0, 112);
    border: 1.5px outset rgb(203, 0, 112);
    font-weight: bold;
    box-shadow: 2px 2px 6px #8DBFD9;
    color: #8DBFD9;
}


.container-fluid {
    padding: 0% !important;
    overflow-x: hidden;
}


/*Breadcrumb*/

.breadcrumb {
    background-color: rgba(141, 190, 217, 0.646);
    border-radius: 0px;
}


.active {
    
    color: rgb(203, 0, 112) !important;
    font-family: 'arvo';
    letter-spacing: 1.5px;
    font-weight: bold;

}

.breadcrumb-item a{
    color: white !important;
    
    font-family: 'arvo';
    letter-spacing: 1.5px;


}

.breadcrumb-item a:hover{
    color: rgb(152, 5, 86)!important;
    text-decoration: none;
    font-weight: bold;



}


/*FIN BREADCRUMB*/

aside {
    height: auto;
    background: linear-gradient(-45deg, rgba(4, 62, 113, 0.823), rgb(23, 111, 174), #23A6D5, rgb(35, 195, 213));
    border-top-right-radius: 10px;
    box-shadow: 5px 3px 6px 0px rgba(4, 62, 113, 0.75);
}

aside h1 {
    font-family: 'neuropol';
    color: white;
    font-size: 30px;
}

.createTreatments, .createRoutines {
    border: 1.5px outset rgb(203, 0, 112);
    border-radius: 10px;
    background-color: rgba(203, 0, 112, 0.503);
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'arvo';
}



.createTreatments:hover, .createRoutines:hover{
    background-color: rgb(203, 0, 112);
    border: 1.5px outset rgb(203, 0, 112);
    font-weight: bold;
    box-shadow: 2px 2px 6px #8DBFD9;
    color: #8DBFD9;
}

.treatments, .routines {
    display: none;
    background: rgb(246,106,184);
    background: linear-gradient(-45deg, rgba(185,3,104,1), rgba(209,57,142,1), rgba(229,81,162,1),  rgba(246,106,184,1));
    border-radius: 10px;
    box-shadow: 0px 0px 11px 6px rgb(245, 202, 236);
    color: white;
    font-family: 'arvo';
}

input[type='button']{
    border: 1.5px outset #8DBFD9;
    border-radius: 10px;
    background-color: rgba(141, 190, 217, 0.571);
    color: rgba(255, 255, 255, 0.796);
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    
}


input[type='button']:hover{
    background-color: #8DBFD9;
    font-weight: bold;
    box-shadow: 2px 2px 6px rgb(203, 0, 112);
    color: rgb(203, 0, 112);
    
}

.body {
    /* background-color: rgba(139, 196, 224, 0.204); */
    background-color: rgb(255, 240, 242); 
}

.content h1 {
    font-family: 'neuropol';
    font-weight: bold;
    font-size: 30px;
    color: rgb(203, 0, 112);
}

.content .title {
    font-size: 34px; 
    text-decoration: underline;
    text-decoration-color: #8DBFD9;
}

.content img {
    border: 3px ridge rgb(203, 0, 112) ;
    box-shadow: 0px 0px 13px 6px rgb(245, 202, 236);
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width:90%;
}

.content img:hover {
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
}

.content p {
    font-family: 'arvo';
    font-size: 16px;
}