




@font-face {
    font-family: 'neuropol';
    src: url("neuropol\ x\ rg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'arvo';
    src: url("Arvo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }


/*HOME HTML*/


.navbar-brand {
    font-family: 'neuropol';
}

.navbar-brand h1 {
    font-size: 24px;
    color: rgb(203, 0, 112);
    font-weight: bold;
}

.navbar-brand h1:hover {
    text-shadow: 2px 2px 4px #8DBFD9;
}

.nav-link {
    color: #8DBFD9;
    font-weight: bold;
    font-family: 'arvo';
}

.nav-link:hover {
    color: rgb(203, 0, 112);

}


.logout {

    border: 1.5px outset rgb(203, 0, 112);
    border-radius: 10px;
    background-color: rgba(203, 0, 112, 0.503);
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
}


.logout:hover{
    background-color: rgb(203, 0, 112);
    border: 1.5px outset rgb(203, 0, 112);
    font-weight: bold;
    box-shadow: 2px 2px 6px #8DBFD9;
    color: #8DBFD9;
}

.logout a{
	color:white;
	text-decoration:none;
}

.logout a:hover{
	color: #8DBFD9;
	font-weight: bold;
}


.container-fluid {
    padding: 0% !important;
    overflow-x: hidden;
}


/*Breadcrumb*/

.breadcrumb {
    background-color: rgba(141, 190, 217, 0.646);
    border-radius: 0px;
}


.active {
    
    color: rgb(203, 0, 112) !important;
    font-family: 'arvo';
    letter-spacing: 1.5px;
    font-weight: bold;

}

.breadcrumb-item a{
    color: white !important;
    
    font-family: 'arvo';
    letter-spacing: 1.5px;


}

.breadcrumb-item a:hover{
    color: rgb(152, 5, 86)!important;
    text-decoration: none;
    font-weight: bold;



}


/*FIN BREADCRUMB*/

aside {
    height: auto;
    background: linear-gradient(-45deg, rgba(4, 62, 113, 0.823), rgb(23, 111, 174), #23A6D5, rgb(35, 195, 213));
    border-top-right-radius: 10px;
    box-shadow: 5px 3px 6px 0px rgba(4, 62, 113, 0.75);
}

aside h1 {
    font-family: 'neuropol';
    color: white;
    font-size: 30px;
}

.createTreatments, .createRoutines {
    border: 1.5px outset rgb(203, 0, 112);
    border-radius: 10px;
    background-color: rgba(203, 0, 112, 0.503);
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'arvo';
}



.createTreatments:hover, .createRoutines:hover{
    background-color: rgb(203, 0, 112);
    border: 1.5px outset rgb(203, 0, 112);
    font-weight: bold;
    box-shadow: 2px 2px 6px #8DBFD9;
    color: #8DBFD9;
}

.treatments, .routines {
    display: none;
    background: rgb(246,106,184);
    background: linear-gradient(-45deg, rgba(185,3,104,1), rgba(209,57,142,1), rgba(229,81,162,1),  rgba(246,106,184,1));
    border-radius: 10px;
    box-shadow: 0px 0px 11px 6px rgb(245, 202, 236);
    color: white;
    font-family: 'arvo';
}

input[type='button']{
    border: 1.5px outset #8DBFD9;
    border-radius: 10px;
    background-color: rgba(141, 190, 217, 0.571);
    color: rgba(255, 255, 255, 0.796);
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    
}


input[type='button']:hover{
    background-color: #8DBFD9;
    font-weight: bold;
    box-shadow: 2px 2px 6px rgb(203, 0, 112);
    color: rgb(203, 0, 112);
    
}

.body {
    /* background-color: rgba(139, 196, 224, 0.204); */
    background-color: rgb(255, 240, 242); 
}

.content h1 {
    font-family: 'neuropol';
    font-weight: bold;
    font-size: 30px;
    color: rgb(203, 0, 112);
}

.content h5 {
	font-family: 'neuropol';
    font-weight: bold;
    color: rgb(203, 0, 112);
}

.content .title {
    font-size: 34px; 
    text-decoration: underline;
    text-decoration-color: #8DBFD9;
}

.content img {
    border: 3px ridge rgb(203, 0, 112) ;
    box-shadow: 0px 0px 13px 6px rgb(245, 202, 236);
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width:90%;
}

.content img:hover {
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
}

.content p {
    font-family: 'arvo';
    font-size: 16px;
}




/*ROL CUIDADOR*/

table {
    
    background-color: rgb(210, 237, 248) !important;
    box-shadow: 5px 3px 6px 0px rgba(4, 62, 113, 0.75);
    
}

table thead {
    background: linear-gradient(-45deg, rgba(4, 62, 113, 0.823), rgb(23, 111, 174), #23A6D5, rgb(35, 195, 213));
}


table th {
    font-family: 'neuropol';
    color: white;
    border-bottom: 3px ridge rgba(203, 0, 112, 0.626) !important;
    
}

table td {
    font-family: 'arvo';
    font-size: 14px;
}

table tbody tr:hover {
    background-color: rgba(203, 0, 112, 0.367);
}

.actived {
    background-color: rgba(173, 233, 173, 0.555);
    border: 1.5px outset rgb(173, 233, 173);
}

.update {
    background-color: rgba(245, 245, 195, 0.555);
    border: 1.5px outset rgb(245, 245, 195);
}

.delete {
    background-color: rgb(241, 181, 181, 0.555);
    border: 1.5px outset rgb(241, 181, 181);
}


.actived:hover {
    background-color: rgba(173, 233, 173);
    border: 1.5px outset rgb(173, 233, 173);
}

.update:hover {
    background-color: rgba(245, 245, 195);
    border: 1.5px outset rgb(245, 245, 195);
}

.delete:hover {
    background-color: rgb(241, 181, 181);
    border: 1.5px outset rgb(241, 181, 181);
}

.add {
    border: 1.5px outset #8DBFD9;
    background-color: rgba(141, 190, 217, 0.571);
}

.add:hover {
    border: 1.5px outset #8DBFD9;
    background-color: rgb(141, 190, 217);
}


.btn {
    font-weight: bold;
}


#form2 {
    position:absolute;
    height:550px !important;
    background: rgb(246,106,184);
    background: linear-gradient(-45deg, rgba(185,3,104,1), rgba(209,57,142,1), rgba(229,81,162,1),  rgba(246,106,184,1));
    width: 100%;
    font-family: 'arvo';
    border: none;
    border-radius: 20px;
}


 #form2 legend {
    font-family: 'neuropol';
    margin-top: 10%;
    color: white;
}


#form2 label {
    margin-left: 22%;
    margin-top: 2%;
    color:  white;
}

#form2 input[type='submit']{
    margin-left: 25%;
    
}



.view {

    border: 1.5px outset rgb(203, 0, 112);
    border-radius: 10px;
    background-color: rgba(203, 0, 112, 0.503);
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
}


.view:hover{
    background-color: rgb(203, 0, 112);
    border: 1.5px outset rgb(203, 0, 112);
    font-weight: bold;
   	color:white;
}

.citanueva .modal {
    background: rgba(4, 4, 90, 0.265);

}

.citanueva .modal-content {
    background: rgb(246,106,184);
    background: linear-gradient(-45deg, rgba(185,3,104,1), rgba(209,57,142,1), rgba(229,81,162,1),  rgba(246,106,184,1));
color: white;
border-radius: 10px;
box-shadow: 0px 0px 11px 6px rgb(245, 202, 236);
font-family: 'arvo';
    
}

.citanueva .modal-header {
    font-family: 'neuropol';
    border-bottom: 3px ridge #8DBFD9;
}

.citanueva .close {
    color: white;
    opacity: 1;
    font-size: 28px;
}

.citanueva .close:hover {
    color: white;
    opacity: 1;
}

.citanueva .modal-footer {
    border: none;
    display: flex;
    justify-content: center !important;
}


/*ADMIN*/


.separator {
	border-right: 5px ridge rgb(141, 190, 217);
}

.admin h1 {
	font-family: 'neuropol';
	color: rgb(203,0,112);
	text-decoration: underline;
}

.admin ul li {
	font-family: 'arvo';
	font-weight: bold;
	font-size: 16px;
}


.card {
    
    background-color: rgb(210, 237, 248);
    box-shadow: 5px 3px 6px 0px rgba(4, 62, 113, 0.75);
    border: none;
    border-radius: 10px;
    padding: 0%;
   
    
}

.card:hover {
    background-color: rgba(208, 45, 135, 0.231);
}

.card-title{
    background: linear-gradient(-45deg, rgba(4, 62, 113, 0.823), rgb(23, 111, 174), #23A6D5, rgb(35, 195, 213));
    border-bottom: 3px ridge rgba(203, 0, 112, 0.626) !important;
    border-radius: 10px 10px 0 0px;
    padding: 2%;
    width: 100%;
    font-family: 'neuropol';
    color: white;
    
}

/*RESPONSIVE*/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	table {
		font-size:8px;
		margin-left:-7%;
		
	}
	
	table input {
	  font-size: 6px;
	  width:80%;
	}
	
	table input[type=submit] {
	
	font-size:8px;
	width:100%;
	padding:0%;
	display: block;
	}
	
	.order, .search{
	font-size:8px;
	}
	
	.order input[type=submit], .search input[type=submit]{
	font-size:8px;
	padding:1%;
	}
	
	.registerPatient{
		font-size: 10px !important;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
table {
		font-size:12px;
		margin-left:-5%;
		
	}
	
	table input {
	  font-size: 8px;
	  width:100%;
	}
	
	table input[type=submit] {
	
	font-size:10px;
	width:100%;
	padding:0%;
	display: block;
	}
	
	.order, .search{
	font-size:10px;
	}
	
	.order input[type=submit], .search input[type=submit]{
	font-size:10px;
	padding:1%;
	}
	
	.registerPatient{
		font-size: 12px !important;
	}
	


	}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}


