@font-face {
    font-family: 'neuropol';
    src: url("neuropol\ x\ rg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'arvo';
    src: url("Arvo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }


/*HOME HTML*/


.navbar-brand {
    font-family: 'neuropol';
}

.navbar-brand h1 {
    font-size: 24px;
    color: rgb(203, 0, 112);
    font-weight: bold;
}

.navbar-brand h1:hover {
    text-shadow: 2px 2px 4px #8DBFD9;
}

.nav-link {
    color: #8DBFD9;
    font-weight: bold;
    font-family: 'arvo';
}

.nav-link:hover {
    color: rgb(203, 0, 112);

}


.logout {

    border: 1.5px outset rgb(203, 0, 112);
    border-radius: 10px;
    background-color: rgba(203, 0, 112, 0.503);
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
}


.logout:hover{
    background-color: rgb(203, 0, 112);
    border: 1.5px outset rgb(203, 0, 112);
    font-weight: bold;
    box-shadow: 2px 2px 6px #8DBFD9;
    color: #8DBFD9;
}



.container-fluid {
    padding: 0% !important;
    overflow-x: hidden;
}

.files {
    background-color: rgb(255, 240, 242); 
}


/*Breadcrumb*/

.breadcrumb {
    background-color: rgba(141, 190, 217, 0.646);
    border-radius: 0px;
}

.active {
    
    color: rgb(203, 0, 112) !important;
    font-family: 'arvo';
    letter-spacing: 1.5px;
    font-weight: bold;

}

.breadcrumb-item a{
    color: white !important;
    
    font-family: 'arvo';
    letter-spacing: 1.5px;


}

.breadcrumb-item a:hover{
    color: rgb(152, 5, 86)!important;
    text-decoration: none;
    font-weight: bold;



}


.patients {
	background-color: rgb(255, 240, 242); 
}



/*TABLAS*/

table {
    
    background-color: rgb(210, 237, 248) !important;
    box-shadow: 5px 3px 6px 0px rgba(4, 62, 113, 0.75);
    
}

table thead {
    background: linear-gradient(-45deg, rgba(4, 62, 113, 0.823), rgb(23, 111, 174), #23A6D5, rgb(35, 195, 213));
}


table th {
    font-family: 'neuropol';
    color: white;
    border-bottom: 3px ridge rgba(203, 0, 112, 0.626) !important;
    
}

table td {
    font-family: 'arvo';
    font-size: 14px;
}

table tbody tr:hover {
    background-color: rgba(203, 0, 112, 0.367);
}

.actived {
    background-color: rgba(173, 233, 173, 0.555);
    border: 1.5px outset rgb(173, 233, 173);
    text-decoration: none; 
	color: black !important;
	font-family: 'arvo';
}

.update {
    background-color: rgba(245, 245, 195, 0.555);
    border: 1.5px outset rgb(245, 245, 195);
}

.delete {
    background-color: rgb(241, 181, 181, 0.555);
    border: 1.5px outset rgb(241, 181, 181);
    text-decoration: none; 
	color: black !important;
	font-family: 'arvo';
}


.actived:hover {
    background-color: rgba(173, 233, 173);
    border: 1.5px outset rgb(173, 233, 173);
    text-decoration: none;
}

.update:hover {
    background-color: rgba(245, 245, 195);
    border: 1.5px outset rgb(245, 245, 195);
}

.delete:hover {
    background-color: rgb(241, 181, 181);
    border: 1.5px outset rgb(241, 181, 181);
    text-decoration: none;
}

.add {
    border: 1.5px outset #8DBFD9;
    background-color: rgba(141, 190, 217, 0.571);
}

.add:hover {
    border: 1.5px outset #8DBFD9;
    background-color: rgba(141, 190, 217);
}


.btn {
    font-weight: bold;
}


/*CARDS*/

.card {
    
    background-color: rgb(210, 237, 248);
    box-shadow: 5px 3px 6px 0px rgba(4, 62, 113, 0.75);
    border: none;
    border-radius: 10px;
    padding: 0%;
   
    
}

.card:hover {
    background-color: rgba(208, 45, 135, 0.231);
}

.card-title{
    background: linear-gradient(-45deg, rgba(4, 62, 113, 0.823), rgb(23, 111, 174), #23A6D5, rgb(35, 195, 213));
    border-bottom: 3px ridge rgba(203, 0, 112, 0.626) !important;
    border-radius: 10px 10px 0 0px;
    padding: 2%;
    width: 100%;
    font-family: 'neuropol';
    color: white;
    
}


/*otros*/

.listPatient {
	display:none;
}

.listActive {
	display:none;
}

.listInactive {
	display:none;
}

.volver{
	display:none;
}


/*RESPONSIVE*/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	table {
		font-size:6px;
		height: 250px;
		
	}
	
	table td {
	  font-size: 6px;
	  
	}
	
	
	th{
	
	padding: 3px !important;
	
	}
	
	td  {
	
	padding: 0 !important;
	}
	
	table input[type=submit] {
	
	font-size:8px;
	padding:0%;
	margin:0%;
	}
	
	
	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
table {
		font-size:12px;
		
	}
	
	table td {
	  font-size: 8px;
	  
	}
	
	table input[type=submit] {
	
	font-size:10px;
	width:100%;
	padding:0%;
	display: block;
	}
	
	
	
	}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
table {
		font-size:14px;
		margin-left: -7% !important;
		
	}
	
	table td {
	  font-size: 12px;
	  
	}
	
	table input[type=submit] {
	
	font-size:12px;
	width:100%;
	padding:0%;
	display: block;
	}
	
	
	
	
	

	
	}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) and (max-width: 1300px) {

table {
		font-size:16px;
		
		
	}
	
	table td {
	  font-size: 14px;
	  
	}
	
	table input[type=submit] {
	
	font-size:14px;
	width:100%;
	padding:0%;
	display: block;
	}
	
	
	
	
	
	
	

}






