<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style/files.css">
      <link rel="icon" type="image/png" href="/assets/logo.png">
    <title>ArchivosMedicos-T&T</title>
</head>

<body>
    <div class="container-fluid">
      <div class="d-none d-md-block">
			<nav class="navbar navbar-expand-md d-flex justify-content-between ">
				<!-- Brand/logo -->
				<a class="navbar-brand d-flex align-items-center"
					th:href="@{/user/home}"> <img src="/assets/logo.png"
					title="Logotipo del aplicativo" alt="logo" style="width: 80px;">
					<h1 class="pt-3" th:text="#{navbar.titulo}">Treatment Tracer</h1>
				</a>

				<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="${withoutDisease==true}?'#':@{/user/treatments}"th:text="#{navbar.tratamientos}">Tratamientos</a></li>
				<li class="nav-item"><a class="nav-link" th:href="${withoutDisease==true}?'#':@{/user/routines}" th:text="#{navbar.rutinas}">Rutinas</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/user/medicalAppointments}"th:text="#{navbar.citasMedicas}">Citas médicas</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/user/files}" th:text="#{navbar.archivosMedicos}">Archivos médicos</a></li>
				<li class="nav-item">
					<form th:action="@{/logout}" method="post">
						<input type="submit" class="nav-link btn btn-info logout"
							th:value="#{navbar.cerrarSesion}" />
					</form>
				</li>
			</ul>
			</nav>
		</div>
		<nav
			class="navbar navbar-expand-md d-md-none justify-content-between ">
			<!-- Brand/logo -->
			<a class="navbar-brand d-flex align-items-center"
				th:href="@{/user/home}"> <img src="/assets/logo.png"
				title="Logotipo del aplicativo" alt="logo" style="width: 80px;">
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="${withoutDisease==true}?'#':@{/user/treatments}" th:text="#{navbar.tratamientos}">Tratamientos</a></li>
				<li class="nav-item"><a class="nav-link" th:href="${withoutDisease==true}?'#':@{/user/routines}" th:text="#{navbar.rutinas}">Rutinas</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/user/medicalAppointments}" th:text="#{navbar.citasMedicas}">Citas médicas</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/user/files}" th:text="#{navbar.archivosMedicos}">Archivos médicos</a></li>
				<li class="nav-item">
					<form th:action="@{/logout}" method="post">
						<input type="submit" class="nav-link btn btn-info logout"
							th:value="#{navbar.cerrarSesion}" />
					</form>
				</li>
			</ul>
			</div>
		</nav>
       <div class="files body">
        <div aria-label="breadcrumb">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a th:href="@{/user/home}" th:text="#{breadcrum.inicio}">Inicio</a></li>
                <li class="breadcrumb-item active" title="Usted está aquí" aria-current="page" th:text="#{breadcrum.archivosMedicas}">Archivos médicos</li>
            </ol>
        </div>
       
        <div class="row order">
            <div class="col-12 col-md-10 offset-md-1">
                <h1 th:text="#{arch.titulo}">Archivos médicos</h1>
            </div>
            
        </div>

        <div class="row pb-3">
            <div class="col-12 col-md-10 offset-md-1 upload">
                <p class="h3" th:text="#{arch.crear}">¿Quieres subir un nuevo archivo a tu almacen de estudios médicos ? <button
                        class="btn uploadbutton btn-sm ml-4" data-toggle="modal" data-target="#exampleModal" th:text="#{arch.subir}">Subir
                        archivo</button> </p>
            </div>
        </div>
        <div class="row pb-5 d-flex justify-content-around">
            
            
            
            		<div class="col-10 col-md-3 col-sm-4" th:each="file:${files}">
	            		<div class="card"   >
		                    <h5 class="card-title text-center" data-toggle="tooltip" data-placement="right" th:title="${file.description}" th:text="${file.title}"></h5>
		                    <div class=" px-3 text-center">
							<embed width="191" height="207" name="plugin" th:src="${file.file}" id="miniatura" >
		                    <div class="card-body">
		                       
		                        <form th:action="@{/user/removeFile}" method=POST>
		                         <a th:href="${file.file}"class="btn download "  target="_blank" download th:text="#{arch.descargar}">Descargar</a>
										<input name="id" th:value="${file.id}" type="hidden"> 
										<input type="submit" class="btn delete" value="Borrar" th:value="#{arch.borrar}">
								</form>
		                    </div>
		                    </div>
	                   
                		</div>
            	
            	</div>
        
            	
                
                
          
        </div>
        
        <div class="row scrollupload mt-3 pb-3">
            <div class="col-12 col-md-10 offset-md-1 upload">
                <p class="h3" th:text="#{arch.crear}">¿Quieres subir un nuevo archivo a tu almacen de estudios médicos ? <button
                        class="btn uploadbutton btn-sm ml-4" data-toggle="modal" data-target="#exampleModal" th:text="#{arch.subir}">Subir
                        archivo</button> </p>
            </div>
        </div>

   
    </div>

</div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" th:text="#{arch.subir}">Subir archivo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/user/uploadFile}" class="text-center">
                        <label for="nameFile" title="nombre del archivo"><strong th:text="#{arch.nombre}">Nombre del archivo:</strong> <br>
                            <input type="text" name="nameFile" id="nameFile" title="nombre del archivo"></label><br>
                        <label for="desFile" title="Descripción del archivo"><strong th:text="#{arch.descripcion}">Descripción del archivo:</strong> <br>
                            <input type="text" name="desFile" id="desFile" title="Descripción del archivo"></label><br>
                        <label for="file" title="archivo"><strong th:text="#{arch.archivo}">Archivo:</strong> 
								<progress value="0" id="uploader" max="100">0%</progress><br>
								<input id="file" class="file" type="file" required name="file" title="archivo" onchange="getfile()">
                        </label><br>
						<input type="hidden" name="pic" required id="pic">
                        <button type="button" class="btn formbutton" data-dismiss="modal" th:text="#{arch.cerrar}">Cerrar</button>
                    <button type="submit" class="btn formbutton" th:text="#{arch.subir}">Subir archivo</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

    
        
    
    </div>
</body>

<script type='text/javascript' src="/jquery/jquery-3.4.1.min.js"></script>
	<script src="/jquery/jquery.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

<script src="/Javascript/script.js"></script>
	
	
	<!-- AQUI COMIENZAN LOS SCRIPTS DE FIREBASE, EL SERVICIO DE SUBIDA DE IMAGENES -->

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-storage.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Configuracion de mi proyecto de Google Firebase
  const firebaseConfig = {
  apiKey: "AIzaSyA9BphI3r1jqfbnmv7-SjW73bkRw2FcDq8",
  authDomain: "treatmenttracer.firebaseapp.com",
  databaseURL: "https://treatmenttracer.firebaseio.com",
  projectId: "treatmenttracer",
  storageBucket: "treatmenttracer.appspot.com",
  messagingSenderId: "772380615557",
  appId: "1:772380615557:web:4e878e6311f428459b1aec",
  measurementId: "G-XLQNX93SG0"
};
  // Inicializo Firebase
  firebase.initializeApp(firebaseConfig);
</script>

<script type="text/javascript"> 
	//funciones para subir la imagen
       var selectedFile; 
	
      function getfile() 
      { 
          var pic = document.getElementById("file");  
          selectedFile = pic.files[0]; 
			myfunction(); 
      } 
      
      function myfunction() 
      { 
          // current timestamp, necesario para la subida
          var name= document.getElementById("nameFile").value;
  
          // referencio el DIRECTORIO DENTRO DE MI ALMACENAMIENTO FIREBASE
          var storageRef = firebase.storage().ref('/files/'+ name); 
  
          // hago put a firebase  
          var uploadTask = storageRef.put(selectedFile); 
  
          // animacion de la barra de subida 
          uploadTask.on('state_changed', function(snapshot){ 
            var progress =  
             (snapshot.bytesTransferred / snapshot.totalBytes) * 100; 
              var uploader = document.getElementById('uploader'); 
              uploader.value=progress; 
              switch (snapshot.state) { 
                case firebase.storage.TaskState.PAUSED: 
                  console.log('Upload is paused'); 
                  break; 
                case firebase.storage.TaskState.RUNNING: 
                  console.log('Upload is running'); 
                  break; 
              } 
          }, function(error) {console.log(error); 
          }, function() { 
  
               // recojo la url de la imagen subida 
               uploadTask.snapshot.ref.getDownloadURL().then( 
                function(downloadURL) { 
  
  
              // IMPORTANTE: GUARDO LA URL EN EL DIV HIDDEN QUE USARE PARA PASAR EL VALUE AL SERVLET 
               document.getElementById("pic").value=(downloadURL);
               
               console.log(document.getElementById("pic").value)
            }); 
          }); 
      }; 
 </script>

<script type="text/javascript">
$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>

</html>