<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
<script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../style/files.css">
    <title>ArchivosMedicos-T&T</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm justify-content-between">
           <!-- Brand/logo -->
			<a class="navbar-brand d-flex align-items-center"th:href="@{/user/home}">
				<img src="./assets/logo.png" title="Logotipo del aplicativo"
				alt="logo" style="width: 80px;">
				<h1 class="pt-3">Treatment Tracer</h1>
			</a>

			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="${withoutDisease==true}?'#':@{/treatments}">Tratamientos</a></li>
				<li class="nav-item"><a class="nav-link" th:href="${withoutDisease==true}?'#':@{/routines}">Rutinas</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/medicalAppointments}">Citas médicas</a></li>
				<li class="nav-item"><a class="nav-link" href="files">Archivos médicos</a></li>
				<li class="nav-item">
					<form th:action="@{/logout}" method="post">
						<input type="submit" class="nav-link btn btn-info logout"
							value="Cerrar Sesion" />
					</form>
				</li>
			</ul>
        </nav>
       <div class="files">
        <div aria-label="breadcrumb">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a th:href="@{/user/home}">Inicio</a></li>
                <li class="breadcrumb-item active" title="Usted está aquí" aria-current="page">Archivos médicos</li>
            </ol>
        </div>
       
        <div class="row order d-flex align-items-center">
            <div class="col-6 offset-1">
                <h1>Archivos médicos</h1>
            </div>
            <div class="col-4 offset-1">
                <form action="">
                    <label for="order">Ordenar por:
                        <select name="order" id="order">
                            <option value="0">Alfabeticamente (A-Z)</option>
                            <option value="1">Alfabeticamente (Z-A)</option>
                            <option value="2">Fecha ascendente</option>
                            <option value="3">Fecha descendente</option>
                        </select>
                    </label>

                </form>
            </div>
        </div>

        <div class="row pb-3">
            <div class="col-10 offset-1 upload">
                <p class="h3">¿Quieres subir un nuevo archivo a tu almacen de estudios médicos ? <button
                        class="btn uploadbutton btn-sm ml-4" data-toggle="modal" data-target="#exampleModal">Subir
                        archivo</button> </p>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-10 offset-1 d-flex justify-content-between">
            
            	<div class="row">
            		<div class="col-12" th:each="file:${files}">
	            		<div class="card"   >
		                    <h5 class="card-title text-center" data-toggle="tooltip" data-placement="right" th:title="${file.description}" th:text="${file.title}"></h5>
		                    <div class=" px-3 text-center">
							<embed width="191" height="207" name="plugin" th:src="${file.file}" id="miniatura" >
		                    <div class="card-body">
		                       
		                        <form th:action="@{/removeFile}" method=POST>
		                         <a th:href="${file.file}"class="btn download "  target="_blank" download>Descargar</a>
										<input name="id" th:value="${file.id}" type="hidden"> 
										<input type="submit" class="btn delete" value="Borrar">
								</form>
		                    </div>
		                    </div>
	                   
                		</div>
            	
            	</div>
            	</div>
            	
                
                
            </div>
        </div>
        
        <div class="row scrollupload mt-3 pb-3">
            <div class="col-10 offset-1 upload">
                <p class="h3">¿Quieres subir un nuevo archivo a tu almacen de estudios médicos ? <button
                        class="btn uploadbutton btn-sm ml-4" data-toggle="modal" data-target="#exampleModal">Subir
                        archivo</button> </p>
            </div>
        </div>

   
    </div>

</div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Subir archivo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/uploadFile}" class="text-center">
                        <label for="nameFile" title="nombre del archivo"><strong>Nombre del archivo:</strong> <br>
                            <input type="text" name="nameFile" id="nameFile" title="nombre del archivo"></label><br>
                        <label for="desFile" title="Descripción del archivo"><strong>Descripción del archivo:</strong> <br>
                            <input type="text" name="desFile" id="desFile" title="Descripción del archivo"></label><br>
                        <label for="file" title="archivo"><strong>Archivo:</strong> 
								<progress value="0" id="uploader" max="100">0%</progress><br>
								<input id="file" class="file" type="file" name="file" title="archivo" onchange="getfile()">
                        </label><br>
						<input type="hidden" name="pic" id="pic">
                        <button type="button" class="btn formbutton" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn formbutton">Subir archivo</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

    
        
    
    </div>
</body>

<script type='text/javascript' src="../jquery/jquery-3.4.1.min.js"></script>
	<script src="../jquery/jquery.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

<script src="../Javascript/script.js"></script>
	
	
	<!-- AQUI COMIENZAN LOS SCRIPTS DE FIREBASE, EL SERVICIO DE SUBIDA DE IMAGENES -->

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-storage.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Configuracion de mi proyecto de Google Firebase
  const firebaseConfig = {
  apiKey: "AIzaSyA9BphI3r1jqfbnmv7-SjW73bkRw2FcDq8",
  authDomain: "treatmenttracer.firebaseapp.com",
  databaseURL: "https://treatmenttracer.firebaseio.com",
  projectId: "treatmenttracer",
  storageBucket: "treatmenttracer.appspot.com",
  messagingSenderId: "772380615557",
  appId: "1:772380615557:web:4e878e6311f428459b1aec",
  measurementId: "G-XLQNX93SG0"
};
  // Inicializo Firebase
  firebase.initializeApp(firebaseConfig);
</script>

<script type="text/javascript"> 
	//funciones para subir la imagen
       var selectedFile; 
	
      function getfile() 
      { 
          var pic = document.getElementById("file");  
          selectedFile = pic.files[0]; 
			myfunction(); 
      } 
      
      function myfunction() 
      { 
          // current timestamp, necesario para la subida
          var name= document.getElementById("nameFile").value;
  
          // referencio el DIRECTORIO DENTRO DE MI ALMACENAMIENTO FIREBASE
          var storageRef = firebase.storage().ref('/files/'+ name); 
  
          // hago put a firebase  
          var uploadTask = storageRef.put(selectedFile); 
  
          // animacion de la barra de subida 
          uploadTask.on('state_changed', function(snapshot){ 
            var progress =  
             (snapshot.bytesTransferred / snapshot.totalBytes) * 100; 
              var uploader = document.getElementById('uploader'); 
              uploader.value=progress; 
              switch (snapshot.state) { 
                case firebase.storage.TaskState.PAUSED: 
                  console.log('Upload is paused'); 
                  break; 
                case firebase.storage.TaskState.RUNNING: 
                  console.log('Upload is running'); 
                  break; 
              } 
          }, function(error) {console.log(error); 
          }, function() { 
  
               // recojo la url de la imagen subida 
               uploadTask.snapshot.ref.getDownloadURL().then( 
                function(downloadURL) { 
  
  
              // IMPORTANTE: GUARDO LA URL EN EL DIV HIDDEN QUE USARE PARA PASAR EL VALUE AL SERVLET 
               document.getElementById("pic").value=(downloadURL);
               
               console.log(document.getElementById("pic").value)
            }); 
          }); 
      }; 
 </script>

<script type="text/javascript">
$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>

</html>