
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  	<script src="bootstrap.min.js"></script>
        <link rel="stylesheet" href="/style/style.css">
        <link rel="icon" type="image/png" href="/assets/logo.png">
    <title>Treatment Tracer</title>
</head>
<body>

    <div class="container-fluid indexbody">
       <div class="row">
           <div class="col-12">
            <div class="row mt-3">
                <div class="col-1 offset-9">
                    <button class="btn indexbutton px-2" id="login" >Iniciar Sesión</button>
                </div>
                <div class="col-1 mr-1">
                    <button class="btn indexbutton px-2" id="register">Registrarse</button>
                </div>
            </div>
            <div th:if="${error==true}">
			<div class="alert alert-danger alert-dismissible fade show"
				role="alert">
				El paciente no hay podido <strong>ser registrado</strong>. Verifique que los campos cumplen el formato.
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			</div>
            <div class="row mt-4">
                <div class="col-8 offset-2">
                    <div class="row align-items-end">
                        <img src="/assets/logo.png" alt="TreatmentTracer Logotype" title="Logotipo T&T" class="col-3">
                        <h1 class="col-9 display-4 title"><span>Treatment</span> Tracer</h1>
                    </div>
                    <div class="row mt-5">
                        <p class="col-12 text-justify intro">
                            Treatment Tracer pretende facilitar la vida de los pacientes de enfermedades crónicas y/o de sus cuidadores,
                            poniendo a su disposición una serie de tecnología que le van a permitir, gestionar sus tratamientos y rutinas notificando al usuario antes de cada toma o realización mediante email, acceder a gráficas control de aquellas mediciones que deriven de una rutina concreta, almacenar sus archivos médicos y acceder a ellos en cualquier momento y anotar y gestionar en un calendario todas sus citas médicas.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-6 offset-3 mt-5">
                            <img src="/assets/Final.png"  alt="Imagen resumen del aplicativo" title="imagen resumen del aplicativo" class="img-fluid">
                        </div>
                    </div>
                   
                </div>
            </div>
           </div>
           <div  class=" offset-9 col-3 position-absolute"   >
                   <div id="form1">
                    <form  th:action="@{/login}" method=POST>
                        <legend  class="text-center" >Iniciar sesión</legend>
                        <label for="email" title="password">Email: <br>
                        <input id="email" name="email" placeholder="Introduzca email" type="email" title="email"></label> <br>
                        <label for="password" title="password">Contraseña: <br>
                        <input type="password" id="password" title="password" name="password" placeholder="Introduzca contraseña"></label><br>
                        <input type="submit" class="formbutton" value="Iniciar sesión">
                        <input type="button" class="return formbutton" value="Volver">
                         <div th:if="${param.error}" class="alert alert-danger" role="alert">
		            Invalid username and password.
		        </div>
		        <div th:if="${param.logout}" class="alert alert-success" role="alert">
		            You have been logged out.
		        </div>
                   </form>
                   </div>

                   <div id="form2">
                    <form  th:action="@{/register}" method=POST>
                        <legend class="text-center" >Registrarse</legend>
                        <label for="name" title="name">Nombre:<br>
                        <input type="text" name="name" id="name" title="name" onblur="compruebaNombre()" required placeholder="Introduzca su nombre"><br><small id="errorName"></small></label> <br>
                        <label for="surname" title="surname" >Apellidos:<br>
                        <input type="text" name="surname" id="surname" title="surname" onblur="compruebaApellido()" required placeholder="Introduzca sus apellidos"><br><small id="errorSurname"></small></label> <br>
    
                        <label for="dateOfBirth" title="dateOfBirth">Fecha de nacimiento:<br>
                        <input type="date" id="dateOfBirth" title="dateOfBirth" onblur="compruebaFecha()" required name="dateOfBirth" ><br>
                        <small id="errorDate"></small>
                        </label><br>
                        <label for="email2" title="email">Email: <br>
                        <input name="email2" id="email2" title="email" onblur="compruebaEmail()" required placeholder="Introduzca email" type="email"><br><small id="errorEmail"></small> </label><br>
                        <label for="pass" title="password">Contraseña: <br>
                        <input type="password" name="pass" id="pass" title="password" onblur="compruebaPass()" required placeholder="Introduzca contraseña"><br><small id="errorPass"></small></label> <br>
                        <label for="confirmPassword" title="Confirm password" >Confirmar contraseña: <br>
                        <input type="password" name="confirmPassword" onblur="compruebaPass2()" required id="confirmPassword" title="Confirm password" placeholder="Confirme su contraseña"><br><small id="errorPass2"></small></label><br>
                        <label for="role" title="role">Rol: <br>
                            <select id="role" title="role" name="role" required>
                            <option value="1">paciente</option>
                            <option value="2">cuidador</option>
                        </select></label><br>
                        <input type="submit" class="formbutton" onclick="comprobarErrores()" value="Registrarse">
                        <input type="button" class="return formbutton" value="Volver">
                   </form>
                   </div>
                   
           </div>
       </div>

        
    </div>

    <script>
        function writeDisease(){
            if (document.getElementById('diseases').value==-1){
                var iterator = new Array();
                iterator = document.getElementsByClassName("others");
                iterator[0].style.cssText="display:block;";
                iterator[1].style.cssText="display:block;";
            }else {
                var iterator = new Array();
                iterator = document.getElementsByClassName("others");
                iterator[0].style.cssText="display:none;";
                iterator[1].style.cssText="display:none;";
            }
        }
        
       
        function compruebaFecha() {
        	var hoy             = new Date();
        	var fecha = document.getElementById("dateOfBirth").value;
        	console.log(fecha);
        	var fechaFormulario = new Date(fecha);

        	// Comparamos solo las fechas => no las horas!!
        	hoy.setHours(0,0,0,0);  // Lo iniciamos a 00:00 horas

        	if (hoy <= fechaFormulario) {

        		 document.getElementById("dateOfBirth").focus();
        		 document.getElementById("errorDate").style.color="white";
        		 document.getElementById("errorDate").style.backgroundColor="rgb(241, 181, 181)";
        		 document.getElementById("errorDate").innerText="**La fecha de nacimiento debe ser inferior a la actual**";
        	}
        	else {
        		document.getElementById("dateOfBirth").style.backgroundColor = "rgb(173, 233, 173)";
        	}
            
        }
        function compruebaNombre() {
            nombre = document.getElementById("name").value;
            if (nombre=="") {
                document.getElementById("name").focus();
                document.getElementById("errorName").style.color="white";
          		 document.getElementById("errorName").style.backgroundColor="rgb(241, 181, 181)";
          		 document.getElementById("errorName").innerText="**Este campo no puede estar vacío**";
            } 
            else {
                document.getElementById("name").style.backgroundColor = "rgb(173, 233, 173)";
            }
        }
        
        function compruebaApellido() {
            nombre = document.getElementById("surname").value;
            if (nombre=="") {
                document.getElementById("surname").focus();
                document.getElementById("errorSurname").style.color="white";
       		 document.getElementById("errorSurname").style.backgroundColor="rgb(241, 181, 181)";
       		 document.getElementById("errorSurname").innerText="**Este campo no puede estar vacío**";
            } 
            else {
                document.getElementById("surname").style.backgroundColor = "rgb(173, 233, 173)";
            }
        }
        
        function compruebaEmail() {
            expr = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            email = document.getElementById("email2").value;
            if (!expr.test(email) && email != "") {
                document.getElementById("email2").focus();
                document.getElementById("errorEmail").style.color="white";
          		 document.getElementById("errorEmail").style.backgroundColor="rgb(241, 181, 181)";
          		 document.getElementById("errorEmail").innerText="**El formato de este campo es el siguiente: xxxxx@xxxxx.xxx**";
            } 
            else if (expr.test(email)) {
                document.getElementById("email2").style.backgroundColor = "rgb(173, 233, 173)";
            }
        }

        function compruebaPass() {
            expr =  /^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$/;
            pass = document.getElementById("pass").value;
            if (!expr.test(pass) && pass != "") {
                document.getElementById("pass").focus();
                document.getElementById("errorPass").style.color="white";
          		 document.getElementById("errorPass").style.backgroundColor="rgb(241, 181, 181)";
          		 document.getElementById("errorPass").innerText="**La contraseña debe contener entre 8 y 16 caracteres, un número, una mayúscula y una minúscula al menos **";
                
            } else if  (expr.test(pass)){
                document.getElementById("pass").style.backgroundColor = "rgb(173, 233, 173)";
            }
        }
        
        function compruebaPass2() {
            expr = /^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$/;
            passotra = document.getElementById("confirmPassword").value;
            pass = document.getElementById("pass").value;
            if (!expr.test(passotra) && passotra != "" || (pass!=passotra)) {
                document.getElementById("confirmPassword").focus();
                document.getElementById("errorPass2").style.color="white";
         		 document.getElementById("errorPass2").style.backgroundColor="rgb(241, 181, 181)";
         		 document.getElementById("errorPass2").innerText="**Las contraseñas deben coincidir**";
                
            } 
            else if(expr.test(passotra) && (pass==passotra)){
                document.getElementById("confirmPassword").style.backgroundColor = "rgb(173, 233, 173)";
            }
        }
        
        
        
        
    </script>

    

    <script type='text/javascript' src="/jquery/jquery-3.4.1.min.js"></script>
    <script src="/jquery/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="/Javascript/script.js"></script>
        
</body>
</html>