<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/measurements.css">
      <link rel="icon" type="image/png" href="/assets/logo.png">
    <title>Mediciones-T&T</title>
</head>
<body>
    <div class="container-fluid">
        <div class="d-none d-lg-block">
			<nav class="navbar navbar-expand-lg d-flex justify-content-between ">
				<!-- Brand/logo -->
				<a class="navbar-brand d-flex align-items-center"
					th:href="@{/user/home}"> <img src="/assets/logo.png"
					title="Logotipo del aplicativo" alt="logo" style="width: 80px;">
					<h1 class="pt-3" th:text="#{navbar.titulo}">Treatment Tracer</h1>
				</a>

				<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="${withoutDisease==true}?'#':@{/user/treatments}"th:text="#{navbar.tratamientos}">Tratamientos</a></li>
				<li class="nav-item"><a class="nav-link" th:href="${withoutDisease==true}?'#':@{/user/routines}" th:text="#{navbar.rutinas}">Rutinas</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/user/medicalAppointments}"th:text="#{navbar.citasMedicas}">Citas médicas</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/user/files}" th:text="#{navbar.archivosMedicos}">Archivos médicos</a></li>
				<li class="nav-item">
					<form th:action="@{/logout}" method="post">
						<input type="submit" class="nav-link btn btn-info logout"
							th:value="#{navbar.cerrarSesion}" />
					</form>
				</li>
			</ul>
			</nav>
		</div>
		<nav
			class="navbar navbar-expand-lg d-lg-none justify-content-between ">
			<!-- Brand/logo -->
			<a class="navbar-brand d-flex align-items-center"
				th:href="@{/user/home}"> <img src="/assets/logo.png"
				title="Logotipo del aplicativo" alt="logo" style="width: 80px;">
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon my-auto"><img src="/assets/dropdown.png"/></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="${withoutDisease==true}?'#':@{/user/treatments}" th:text="#{navbar.tratamientos}">Tratamientos</a></li>
				<li class="nav-item"><a class="nav-link" th:href="${withoutDisease==true}?'#':@{/user/routines}" th:text="#{navbar.rutinas}">Rutinas</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/user/medicalAppointments}" th:text="#{navbar.citasMedicas}">Citas médicas</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/user/files}" th:text="#{navbar.archivosMedicos}">Archivos médicos</a></li>
				<li class="nav-item">
					<form th:action="@{/logout}" method="post">
						<input type="submit" class="nav-link btn btn-info logout"
							th:value="#{navbar.cerrarSesion}" />
					</form>
				</li>
			</ul>
			</div>
		</nav>
        <div class="measurements">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/user/home}" th:text="#{breadcrum.inicio}">Inicio</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/user/routines}" th:text="#{breadcrum.rutinas}">Rutinas</a></li>
                    <li class="breadcrumb-item active" title="Usted está aquí" aria-current="page" th:text="#{breadcrum.mediciones}">Mediciones</li>
                </ol>
            </div>
    
            <div class="row routineName pb-3">
                <div class="col-12">
                    <h1 class=" ml-5"><span th:text="#{med.rutina}"></span> <span id="routine" th:text="${routine.name}"></span></h1>
                </div>
                
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-10 offset-1 col-lg-3 offset-lg-0 ml-5">
                    <table class="table table-sm  text-center medidas">
                        <thead class="bg-info text-center">
                            <tr>
                                <th colspan="3" th:text="#{med.mediciones}">MEDICIONES</th>
                            </tr>
                            <tr>
                                <th scope="col" th:text="#{med.valor}">Valor</th>
                                <th scope="col" th:text="#{med.fecha}">Fecha</th>
                                <th scope="col" th:text="#{med.accion}">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                        
                        	<div th:each="meas:${measurements}">
                        		<p style='display:none;' th:text="${meas.value}" class="datosmed"></p>
                        		<p style='display:none;' th:text="${meas.date}" class="datemed"></p>
								<tr>
								<form th:action="@{/user/updateMeasurement}">
									
									<td><label for="value" title="valor de la medicion"><input
											type="text"  name="value" title="valor de la medicion"
											id="value" th:value="${meas.value}"></label></td>
									<td><label for="date" title="Fecha de la medición"><input
											 name="date" title="Fecha de la medición"
											id="date" th:value="${meas.date}" type="date"></label></td>
											<input name="id" th:value="${meas.id}" type="hidden">
									
								<td class="text-center">			
									<input type="submit" class="btn btn-link" th:value="#{med.actualizar}">
								</form>	
								</td>
								
							</tr>
							</div>
                            
                             <tr>
                                <form th:action="@{/user/createMeasurement}">
                                 <td><label for="value" title="valor de la medición"><small th:text="#{med.value}">valor de medición:</small><br>
                                 <input type="text" name="value" title="valor de la medición" id="value"></label></td>
								 
								  <input name="routineId" th:value="${routine.id}" type="hidden">
									<td class="text-center"><input class="btn btn-sm add mt-3" type="submit" th:value="#{med.anyadir}"></td>
	
								</form>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-10 offset-1 col-lg-5 offset-lg-0  mr-lg-5" >
                	<div class="row">
                		<div class="col-12">
                        <canvas id="myChart" style="display: block;height: 400px;width: 582px;"></canvas>
                    	</div>
                    	<div class="col-12 pt-3">
                    	<input class="delete" id="save-pdf" type="button" th:value="#{med.descargar}" />
                    	</div>
                	</div>
                    
                </div>
            </div>
        </div>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>   
    <script>

        var ctx = document.getElementById('myChart');
        var list = document.getElementsByClassName("datosmed");
        var routine = document.getElementById("routine").innerText;
        var valores =  new Array(); 
        var listdate = document.getElementsByClassName("datemed");
        var valoresdate =  new Array(); 
        for (var i=0; i<list.length; i++) { 
        	
        	console.log(list[i].innerText);
        	valores.push(list[i].innerText)
        	
        }
        
		for (var i=0; i<listdate.length; i++) { 
        	
        	console.log(listdate[i].innerText);
        	valoresdate.push(listdate[i].innerText)
        	
        }
        
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: valoresdate,
                datasets: [{
                    label: routine,
                    borderColor: 'rgb(203, 0, 112) ',
                    data: valores,
                   
                }]
            },

            // Configuration options go here
            options: {
            	animation : {
                    onComplete : done
                }      
            }
        });
        
        var btnSave = document.getElementById('save-pdf');
        
        var url;

        function done(){
          url=(chart.toBase64Image());
      }

         btnSave.addEventListener('click', function () {
          var doc = new jsPDF();
          doc.setFontSize(22);
          doc.setTextColor(203,0,112);
          doc.setFont("helvetica");
          doc.setFontType("italic");
          doc.text(20,20,'Rutina: ' + routine);
          doc.addImage(url, 10, 35,150,100);
          doc.save(routine+'.pdf');
        }, false);
        
        
        
    </script>
     <script type='text/javascript' src="/jquery/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <script src="/Javascript/script.js"></script>
        
</body>
</html>