<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>
  <link rel="icon" type="image/png" href="/assets/logo.png">
<link rel="stylesheet" href="/style/patients.css">
<title>Bienvenido</title>
</head>
<body>

	<div class="container-fluid">
		<div class="d-none d-lg-block">
				<nav class="navbar navbar-expand-lg d-flex justify-content-between ">
					<!-- Brand/logo -->
					<a class="navbar-brand d-flex align-items-center"
						th:href="@{/admin/home}"> <img src="/assets/logo.png"
						title="Logotipo del aplicativo" alt="logo" style="width: 80px;">
						<h1 class="pt-3" th:text="#{navbar.titulo}">Treatment Tracer</h1>
					</a>

					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/admin/diseases}" th:text="#{navbar.enfermedades}">Enfermedades</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/admin/patients}" th:text="#{navbar.pacientes}">Pacientes</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/admin/carers}" th:text="#{navbar.cuidadores}">Cuidadores</a></li>
						<li class="nav-item">
							<form th:action="@{/logout}" method="post">
								<input type="submit" class="nav-link btn btn-info logout"
									th:value="#{navbar.cerrarSesion}" />
							</form>
						</li>
					</ul>
				</nav>
			</div>
			<nav
				class="navbar navbar-expand-lg d-lg-none justify-content-between ">
				<!-- Brand/logo -->
				<a class="navbar-brand d-flex align-items-center"
					th:href="@{/admin/home}"> <img src="/assets/logo.png"
					title="Logotipo del aplicativo" alt="logo" style="width: 80px;">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon my-auto"><img src="/assets/dropdown.png"/></span>
				</button>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/admin/diseases}" th:text="#{navbar.enfermedades}">Enfermedades</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/admin/patients}" th:text="#{navbar.pacientes}">Pacientes</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/admin/carers}" th:text="#{navbar.cuidadores}">Cuidadores</a></li>
						<li class="nav-item">
							<form th:action="@{/logout}" method="post">
								<input type="submit" class="nav-link btn btn-info logout"
									th:value="#{navbar.cerrarSesion}" />
							</form>
						</li>
					</ul>
				</div>
			</nav>

		<div class="patients body">	
			<div aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/admin/home}" th:text="#{breadcrum.inicio}">Inicio</a></li>
					<li class="breadcrumb-item active" title="Usted está aquí"
						aria-current="page" th:text="#{breadcrum.pacientes}">Pacientes</li>
				</ol>
			</div>
		
	
		<div class="row cards">
			<div class="col-12 d-flex justify-content-around">
				<div class="row d-flex justify-content-around">
					<div class="card mt-3 col-8 col-sm-5 col-md-4 col-lg-2" >
					<h5 class="card-title text-center" th:text="#{pacientes.listarPaciente}">Listar pacientes</h5>
					<img class="card-img-top px-3" src="/assets/lista.png" height=100 alt="Card image cap">
					<div class="card-body">
						
						
						<p class="card-text" th:text="#{pacientes.listarTexto}">Some quick example text to build on the
							card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-link col-6 offset-3 d-flex actived justify-content-center listar" th:text="#{pacientes.listar}">Listar</a>
					</div>
				</div>
				 
				<div class="card mt-3 col-8   col-sm-5  col-md-4 col-lg-2">
					<h5 class="card-title text-center" th:text="#{pacientes.activarPaciente}">Activar<br>Desactivar pacientes</h5>
					<img class="card-img-top px-3" src="/assets/activar.png" height=100 alt="Card image cap">
					<div class="card-body">
						
						
						<p class="card-text" th:text="#{pacientes.activarTexto}">Some quick example text to build on the
							card title and make up the bulk of the card's content.</p>
						<div class="row d-flex justify-content-around">
							<a href="#" class="btn btn-link col-5 activar actived" th:text="#{pacientes.activar}">Activar</a> <a href="#"
								class="btn btn-link col-6  desactivar  delete" th:text="#{pacientes.desactivar}">Desactivar</a>
						</div>

					</div>
				</div>
				
				
				</div>

			</div>
		</div>


		<div class="row listPatient">
			<div class="col-12 col-md-10 offset-md-1">
				<table class="table">
					<thead class="bg-info text-center">
						<tr>
							<th colspan="6" th:text="#{pacientes.listado}">LISTADO DE PACIENTES</th>
						</tr>
						<tr>
							<th scope="col" th:text="#{pacientes.nombre}">Nombre</th>
							<th scope="col" th:text="#{pacientes.apellidos}">Apellidos</th>
							<th scope="col" th:text="#{pacientes.email}">Email</th>
							<th scope="col" th:text="#{pacientes.fechaNacimiento}">Fecha de nacimiento</th>
							<th scope="col" th:text="#{pacientes.estado}">Estado</th>
							<th scope="col" th:text="#{pacientes.borrar}">Borrar</th>
						</tr>
					</thead>
					<tbody>
						<div th:each="patient:${allPatients}">
							<tr>
								<td th:text="${patient.name}"></td>
								<td th:text="${patient.surname}"></td>
								<td th:text="${patient.email}"></td>
								<td th:text="${patient.dateOfBirth}"></td>
								<td th:text="${patient.state.name}"></td>
								<td class="text-center">
									<form th:action="@{/admin/deletePatient}" method=POST>
										<input name="id" th:value="${patient.id}" type="hidden">
										<input type="submit" class="btn delete" th:value="#{pacientes.borrar}">
									</form>

								</td>
							</tr>
						</div>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row listActive">
			<div class="col-12 col-md-10 offset-md-1">
				<table class="table">
					<thead class="bg-info text-center">
						<tr>
							<th colspan="5"th:text="#{pacientes.activos}">LISTADO DE PACIENTES ACTIVOS</th>
						</tr>
						<tr>
							<th scope="col" th:text="#{pacientes.nombre}">Nombre</th>
							<th scope="col" th:text="#{pacientes.apellidos}">Apellidos</th>
							<th scope="col" th:text="#{pacientes.email}">Email</th>
							<th scope="col" th:text="#{pacientes.fechaNacimiento}">Fecha de nacimiento</th>
							<th scope="col" th:text="#{pacientes.desactivar}">Desactivar</th>
						</tr>
					</thead>
					<tbody>
						<div th:each="patient:${activePatient}">
							<tr>
								<td th:text="${patient.name}"></td>
								<td th:text="${patient.surname}"></td>
								<td th:text="${patient.email}"></td>
								<td th:text="${patient.dateOfBirth}"></td>
								<td class="text-center">
									<form th:action="@{/admin/inactivePatient}" method=POST>
										<input name="id" th:value="${patient.id}" type="hidden">
										<input type="submit" class="btn actived" th:value="#{pacientes.desactivar}">
									</form>

								</td>
							</tr>
						</div>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row listInactive">
			<div class="col-12 col-md-10 offset-md-1">
				<table class="table">
					<thead class="bg-info text-center">
						<tr>
							<th colspan="5" th:text="#{pacientes.inactivos}">LISTADO DE PACIENTES INACTIVOS</th>
						</tr>
						<tr>
							<th scope="col" th:text="#{pacientes.nombre}">Nombre</th>
							<th scope="col" th:text="#{pacientes.apellidos}">Apellidos</th>
							<th scope="col" th:text="#{pacientes.email}">Email</th>
							<th scope="col" th:text="#{pacientes.fechaNacimiento}">Fecha de nacimiento</th>
							<th scope="col" th:text="#{pacientes.activar}">Activar</th>
						</tr>
					</thead>
					<tbody>
						<div th:each="patient:${inactivePatient}">
							<tr>
								<td th:text="${patient.name}"></td>
								<td th:text="${patient.surname}"></td>
								<td th:text="${patient.email}"></td>
								<td th:text="${patient.dateOfBirth}"></td>
								<td class="text-center">
									<form th:action="@{/admin/activePatient}" method=POST>
										<input name="id" th:value="${patient.id}" type="hidden">
										<input type="submit" class="btn actived" th:value="#{pacientes.activar}">
									</form>

								</td>
							</tr>
						</div>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row ">
		
		<div class="col-12 col-lg-10 mt-5 d-flex justify-content-center justify-content-lg-end">
			<a href="#" class="btn add volver" th:text="#{pacientes.volver}">Volver</a>
			</div>
		</div>
</div>
	
	<script type='text/javascript' src="/jquery/jquery-3.4.1.min.js"></script>
	<script src="/jquery/jquery.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
			<script src="/Javascript/script.js"></script>
</body>
</html>